<div class="col-lg-8 col-lg-offset-2">
    <p></p>
    <div class="jumbotron">
        <h1>{{title}}</h1>
        <p>Disfruta de los animales más exoticos de nuestro zoologico :)</p>
        <p>
            <a class="btn btn-primary bt-lg" role="button" [routerLink]="['/animales']">
                Ver animales
            </a>
            <a class="btn btn-success bt-lg" role="button" [routerLink]="['/cuidadores']">
                Ver cuidadores
            </a>
            <a class="btn btn-warning bt-lg" role="button" [routerLink]="['/contacto']">
                Contacta con nosotros
            </a>
        </p>
    </div>
</div>
<div class="clearfix"></div>
